.container {
  background-color: rgba(247, 246, 255);
  padding-bottom: 20px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;

  margin-top: 25px;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

  width: 800px;

  height: 86vh;

  display: flex;
  flex-direction: column;
}

.rightTop {
  height: 69px;
  border-bottom: 0.5px solid rgb(187, 187, 187);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.rightTopLeft {
  font-family: var(--font-poppins);
  font-size: 18px;
  font-weight: 600;
  color: #1b232f;
}
.rightTopRight {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.rightTopRightButtons {
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  // justify-content: center;
  padding: 0px 12px;
  border-radius: 14px;
  border: 1px solid rgb(209, 213, 219);
  height: 38px;
  cursor: pointer;

  &:hover {
    background-color: rgba(247, 246, 255);
  }
}

.rightBottom {
  display: flex;
  flex-direction: row;
  gap: 0.5px;
  background-color: rgb(187, 187, 187);

  height: 90%;
}

.rightBottomLeft {
  background-color: white;
  width: 399.75px;

  padding: 10px 12px;
}

.rightBottomLeftReplyTextTitle {
  color: #6b7280;
  font-size: 14px;
  font-family: var(--font-poppins);
  font-weight: 600;
  margin-bottom: 8px;
}

.rightBottomLeftGeneratedTextContainer {
  width: 100%;

  height: 95%;

  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.rightBottomLeftGeneratedText {
  font-family: var(--font-poppins);
  font-size: 16px;
  color: #1f2937;
  white-space: pre-wrap;
}

.rightBottomRight {
  background-color: white;

  width: 399.75px;
}

.rightTopRightText {
  color: #6b7280;
  font-size: 14px;
  font-family: var(--font-poppins);
  font-weight: 600;
  padding: 8px 16px;
}

.displayPdf {
  // overflow: hidden;
}

.iframeClass {
  width: 100%;

  height: 74vh;
}

.uploadContainer {
  border: 2px dashed rgba(183, 148, 244);
  border-radius: 1rem;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  margin-top: 10px;
  width: 390px;
}

.typeOneHeading {
  font-family: var(--font-poppins);
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
}

.typeOneDesc {
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
  color: rgba(75, 85, 99);
}
.typeTwoDesc {
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 400;
  color: rgba(107, 114, 128);
}

.uploadButton {
  color: #6b46c1;
  border: 1px solid rgba(183, 148, 244);
  background-color: white;
  border-radius: 1rem;
  padding: 8px 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 153px;
  cursor: pointer;

  &:hover {
    background-color: rgba(247, 246, 255);
  }
}

.previousNoticesContainer {
  width: 390px;

  max-height: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  margin-top: 10px;

  overflow-y: auto;
}

.unorderdList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5px;

  background-color: rgb(187, 187, 187);
}

.singleList {
  height: 69px;
  padding: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: rgb(236, 234, 254);
  }
}

.listLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.listCenter {
}

.listOriginalName {
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
  color: #1f2937;
}

.listDate {
  font-family: var(--font-poppins);
  font-size: 12px;
  font-weight: 500;
  color: #6b7280;
}

.listStatusDone {
  background-color: #dcfce7;
  color: #166534;

  font-size: 12px;
  font-family: var(--font-poppins);
  font-weight: 500;

  padding: 4px 8px;

  display: flex;
  flex-direction: row;
  border-radius: 100px;
  gap: 5px;
}

.listStatusProcessing {
  background-color: #fcf9d6;
  color: #854d0e;

  font-size: 12px;
  font-family: var(--font-poppins);
  font-weight: 500;

  padding: 4px 8px;

  display: flex;
  flex-direction: row;
  border-radius: 100px;
  gap: 5px;
}

.generateButtonContainer {
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 12px;
  margin-top: 16px;
}

.generateButtonContainerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.generateButtonContainerCheckMark {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.generateButtonContainerFileName {
}

.generateButtonContainerButton {
  background-color: #634aef;
  color: white;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 600;

  padding: 8px 16px;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(107, 70, 193);
  }
}
