.container {
  background-color: rgba(247, 246, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.dashboard {
  // background-color: yellowgreen;
  // width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subContainer {
  // background-color: yellow;
  // width: 83%;

  display: flex;
  flex-direction: row;
  gap: 20px;

  margin-top: 25px;
}

.left {
  // background-color: red;
  // width: 40%;
  display: flex;
  flex-direction: column;
  // gap: 10px;
}

.right {
  // background-color: violet;
  // width: 60%;
  width: 800px;
}

.uploadContainer {
  border: 2px dashed rgba(183, 148, 244);
  border-radius: 1rem;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  margin-top: 10px;
  width: 390px;
}

.typeOneHeading {
  font-family: var(--font-poppins);
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
}

.typeOneDesc {
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
  color: rgba(75, 85, 99);
}
.typeTwoDesc {
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 400;
  color: rgba(107, 114, 128);
}

.uploadButton {
  color: #6b46c1;
  border: 1px solid rgba(183, 148, 244);
  background-color: white;
  border-radius: 1rem;
  padding: 8px 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 153px;
  cursor: pointer;

  &:hover {
    background-color: rgba(247, 246, 255);
  }
}

.previousNoticesContainer {
  // background-color: white;
  // background-color: violet;

  width: 390px;
  // height: 400px;
  max-height: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  margin-top: 10px;

  overflow-y: auto;
}

.unorderdList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5px;
  // overflow-y: auto;
  background-color: rgb(187, 187, 187);
}

.singleList {
  height: 69px;
  padding: 16px;
  // background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  justify-content: space-between;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: rgb(236, 234, 254);
  }
}

.listLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.listCenter {
}

.listOriginalName {
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
  color: #1f2937;
}

.listDate {
  font-family: var(--font-poppins);
  font-size: 12px;
  font-weight: 500;
  color: #6b7280;
}

.listStatusDone {
  background-color: #dcfce7;
  color: #166534;

  font-size: 12px;
  font-family: var(--font-poppins);
  font-weight: 500;

  padding: 4px 8px;

  display: flex;
  flex-direction: row;
  border-radius: 100px;
  gap: 5px;
}

.listStatusProcessing {
  background-color: #fcf9d6;
  color: #854d0e;

  font-size: 12px;
  font-family: var(--font-poppins);
  font-weight: 500;

  padding: 4px 8px;

  display: flex;
  flex-direction: row;
  border-radius: 100px;
  gap: 5px;
}

.generateButtonContainer {
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 12px;
  margin-top: 16px;
}

.generateButtonContainerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.generateButtonContainerCheckMark {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.generateButtonContainerFileName {
}

.generateButtonContainerButton {
  background-color: #634aef;
  color: white;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 600;

  padding: 8px 16px;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(107, 70, 193);
  }
}
